:root {
    --gc-bg: #f0f0ff;
    --gc-ft: #444499;
    --gc-dk: #c0c0ff;
}

body {
    background-color: var(--gc-bg);
    color: var(--gc-ft);
    margin: 0;
    overflow:hidden;
    font-family: 'Karla', sans-serif;
}

.page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    overflow-x: scroll;
    overflow-y: scroll;
}

.loading {
    background-color: var(--gc-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 550ms;
}

.gLogo {
    width: 70vmin;
    height: 70vmin;
    max-width: 250px;
    max-height: 250px;
}

h3 {
    font-family: 'Solway', serif;
    padding-left: 1em;
}

main {
    padding: 0 1em 1em 1em;
}

h4 {
    font-family: 'Solway', serif;
}

.img1 {
    width: 100%;
    max-width: 721px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

nav {
    text-align: right;
    position: sticky;
    top: 0;
    background-color: var(--gc-bg);
}

nav li:last-child {
    margin-right: 1em;
}

nav li {
    display: inline;
    padding: 0.3em 0.7em;
    border-radius: 2em;
}

nav li:hover {
    background-color: var(--gc-dk);
}

.menuButton {
    display: none;
}

.overlay {
    background-color: #999;
}



.hidden {
    display: none;
}

@media only screen 
  and (max-width: 568px) {
    nav {
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }
    
    nav li:last-child {
        margin-right: 0;
    }
    
    nav li {
        display: inline;
        padding: 0.3em 0.7em;
        border-radius: 2em;
    }
    
    nav li:hover {
        background-color: var(--gc-dk);
    }
    
    .menuButton {
        display: block;
    }
}
