:root{
    --gc-bg: #f0f0ff;
    --gc-ft: #444499;
    --gc-dk: #c0c0ff;
}

body{
    background-color: var(--gc-bg);
    color: var(--gc-ft);
    margin: 0;
    overflow:hidden;
    font-family: 'Karla', sans-serif;
}

.content {
    padding: 0 1em 1em 1em;
}

h3, h4{
    font-family: 'Solway', serif;;
}

.page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    overflow-x: scroll;
    overflow-y: scroll;
}

.loading{
    background-color: var(--gc-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: top 550ms;
}

nav {
    text-align: right;
    position: sticky;
    top: 0;
    background-color: var(--gc-bg);
}

nav li:last-child {
    margin-right: 1em;
}

nav li {
    display: inline;
    padding: 0.3em 0.7em;
    border-radius: 2em;
}

nav li:hover {
    background-color: var(--gc-dk);
}

.menuButton {

}

.overlay {
    background-color: #999;
}



.hidden {
    display: none;
}